name: guia_rick_and_morty
description: Guia Rick and Morty - app de exemplo para consumir a Rick and Morty API
publish_to: "none"
version: 0.0.1


environment:
  sdk: ">=2.19.0 <3.0.0"


dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  http: ^0.13.6
  provider: ^6.0.5
  shared_preferences: ^2.1.1


dev_dependencies:
  flutter_test:
    sdk: flutter


flutter:
  uses-material-design: true